@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* Admin page */
.tab-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.tab-content.active {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
.toast {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  border-radius: 8px;
  position: relative;
  min-width: 250px;
  margin-bottom: 10px;
  animation: fadeInOut 3s ease-in-out;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
